body {
  margin: 0;
}

.warcze {
  width: 190px;
  height: 240px;
  background: url('../img/warcze.png') left center;
  animation-play-state: paused;
  position: absolute;
  visibility: hidden;

}

.run {
  animation: play 0.3s steps(10) 9;
  animation-play-state: running;
  visibility: visible;
}

 @keyframes play {
  100% {
    background-position: -1900px;
  }
}

.container {
  display: flex;

  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  background: url(../img/land2.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

.slash {
  width: 647px;
  height: 655px;
  background: url('../img/slash2.png') no-repeat ;
  animation-play-state: paused;
  background-position: 0;

}

.slashRun {
  animation: slash 1s steps(16)  running ;
  /* animation-iteration-count: 1;
  animation-fill-mode: forwards; */
}

@keyframes slash {
  100% {
    background-position: -10340px;
  }

}
